@import "components/variables";
@import "mixins/border_radius";
@import "components/loading";
@import "components/beaver";
@import "components/burguer-icon";
@import "components/navbar";
@import "components/blocks-system";
@import "components/slots-system";
@import "components/forms";
@import "components/utils";