{% macro title(string) %}
    <h4>{{ string }}</h4>
{% endmacro %}

{% macro empty() %}
    <div class="empty">
        <img src="https://media.giphy.com/media/OPU6wzx8JrHna/giphy.gif" />
        <p><span>Snif!!</span>No tenemos nada! :(</p>
    </div>
{% endmacro %}