<div class="card image-type" data-image="{{ image }}">
    <i class="far fa-check-circle" data-rel="checked"></i>
    <img class="card-img-top" src="{{ image }}" />

    <i class="far fa-trash-alt" data-rel="delete" data-image="{{ image }}"></i>
</div>