<div class="card">
    <button type="button" class="delete-button" data-rel="delete-image" data-image="{{ image }}">
        <i class="fas fa-trash"></i>
    </button>

    <img class="card-img-top" src="{{ image }}" />
    <div class="card-body">
        Here some description
    </div>
</div>