<!DOCTYPE HTML>
<html>
    <head>
        <title>Beaver CMS</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beaver/css/bootstrap.min.css', 'beaver') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beaver/css/login.css', 'beaver') }}">

        <!-- Javascripts -->
        {% include '@Backend/Base/Commons/javascript.html.twig' %}
    </head>

    <body>
        {% block form %}
        {% endblock form %}
    </body>
</html>